.banner {
  background-color: #eef2ff;
  height: 290px;
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.randomWord {
  display: flex;
  align-items: center;
}

/* Small screens, laptops ----------- */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .banner {
    height: 200px;
    padding: 0 50px;
  }
}
